<?xml version="1.0" encoding="utf-8"?>
<!--
Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIANWEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SIANCENTRALConnectionString" connectionString="Data Source=EGPRODES;Initial Catalog=SIANCENTRAL;Persist Security Info=True;User ID=sa;Password=Key_123" providerName="System.Data.SqlClient" />
    <add name="SIANCENTRAL_CCEntities1" connectionString="metadata=res://*/SIANCENTRAL.csdl|res://*/SIANCENTRAL.ssdl|res://*/SIANCENTRAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=40.84.229.61;Initial Catalog=SIANCENTRAL;User ID=sa;Password=4dmK3yQu1m;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <!-- Aprobacion de Gastos, Afecta Macola: true = Prueba, false = Mobimiento Valido-->
    <add key="insGastoMacola" value="true" />
    <!-- Captura acreedoresproveedores de Gastos , proveedor generico ( rfc venta menudeo ) XXX000101AAA si es este rfc si puede repetirse -->
    <add key="gastosrfcGenerico" value="XXX000101AAA" />
    <add key="RutaArchivos" value="C:\\Temporal\\" />
    <!-- Gastos monto minimo para generacion de cheque de diferencia de comprobacion  -->
    <add key="montominimocheque" value="100" />
    <add key="CCPagoAcreedor" value="1031" />
    <add key="SubCuentaPagoAcreedor" value="20002" />
    <add key="SubSubCuentaPagoAcreedor" value="00" />
    <!--jfcv 25 nov 2016-->
    <add key="WebURLtempPDFGastos" value="xmlSAT/" />
    <!-- EGBKSVR -->
    <!--<add key="strConnection" value="Data Source=13.84.160.245;Initial Catalog=siancentral;User ID=sa;Password=123"/>
    <add key="strConnectionCobranza" value="Data Source=13.84.160.245;Initial Catalog=sianwebcobranzapruebas;User ID=sa;Password=123"/>
    <add key="strConnection" value="Data Source=10.1.0.120;Initial Catalog=SIANCentral;User ID=sa;Password=sistemas"/>-->
    <add key="strConnection" value="Data Source=40.84.229.61;Initial Catalog=siancentral;User ID=sa;Password=4dmK3yQu1m" />
    <add key="strConnectionCentral" value="Data Source=13.84.160.245;Initial Catalog=SIANwebCentral;User ID=sa;Password=K3yQuimica10803!" />
    <add key="strConnectionCobranza" value="Data Source=13.84.160.245;Initial Catalog=SIANWEBCobranza;User ID=sa;Password=K3yQuimica10803!" />
    <!--Conexión Local -->
    <!--<add key="strConnection" value="Data Source=EGPRODES;Initial Catalog=siancentral;User ID=sa;Password=Key_123"/>
    <add key="strConnectionCobranza" value="Data Source=EGPRODES;Initial Catalog=sianwebcobranza;User ID=sa;Password=Key_123"/>
    <add key="strConnectionCentral" value="Data Source=EGPRODES;Initial Catalog=sianwebcentral;User ID=sa;Password=Key_123"/>-->
    <add key="WS_PagosExternos" value="http://localhost:6846/Service1.asmx" />
    <add key="WS_CuentaNacional" value="http://www.intranetkey.com/wsCuentaNacional/Service1.asmx" />
    <add key="WS_Producto" value="http://www.intranetkey.com/wsProductoCN/Service1.asmx" />
    <add key="OrdenCompraEnvioDirecto" value="1" />
    <!-- -->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <!-- URL documentos PDF temporales de factura -->
    <add key="URLtempPDF" value="~/xmlSAT/" />
    <add key="WebURLtempPDF" value="/xmlSAT/" />
    <!-- Variable Global para identificar Empresa-->
    <add key="VGEmpresa" value="2" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <!--Cadenas de conexión para servidores de 165 y 245 RBM -->
    <add key="Respaldo" value="Data Source=40.84.229.61;Initial Catalog=sianwebcentralmar2014;User ID=sa;Password=4dmK3yQu1m" />
    <add key="Dinamo" value="Data Source=40.84.229.61;Initial Catalog=sianwebcentralmar2016;User ID=sa;Password=4dmK3yQu1m" />
    <add key="Productivo" value="Data Source=13.84.160.245;Initial Catalog=sianwebCENTRAL;User ID=sa;Password=K3yQuimica10803!" />
    <add key="Solmex" value="Data Source=13.84.160.245;Initial Catalog=master;User ID=sa;Password=K3yQuimica10803!" />
    <!--Fin Cadenas-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Telerik.ReportViewer.WebForms, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <add assembly="Telerik.Reporting, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="telerik" namespace="Telerik.ReportViewer.WebForms" assembly="Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
      </controls>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" />
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" validate="true" />
    </httpHandlers>
    <httpModules>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
    <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Tele  rik_Web_UI_WebResource_axd" />
      <remove name="ChartImageHandler" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <SIANWEB.Properties.Settings>
      <setting name="SIANWEB_RemElectronica_Service1" serializeAs="String">
        <value>http://www.intranetkey.com/ImprimeRemision/service1.asmx</value>
      </setting>
      <setting name="SIANWEB_sian_cfd_Service2" serializeAs="String">
        <value>http://10.1.0.23/wssianweb/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_WebReference_Service1" serializeAs="String">
        <value>http://148.244.244.207/wssianweb/service1.asmx</value>
      </setting>
      <setting name="SIANWEB_sian_cfd_Service1" serializeAs="String">
        <value>http://148.244.244.207/wssianweb/service1.asmx</value>
      </setting>
      <setting name="SIANWEB_WS_PagosExternos_Service1" serializeAs="String">
        <value>http://localhost:6846/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_WS_Producto_Service1" serializeAs="String">
        <value>http://www.intranetkey.com/wsProductoCN/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_OrdendeCompra_Service1" serializeAs="String">
        <value>http://207.248.253.104/OrdenCompra/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_WS_RemElectronicaCtaNacional_Service1"
        serializeAs="String">
        <value>http://www.intranetkey.com/GuardaRemision/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_WS_CuentaNacional_Service1" serializeAs="String">
        <value>http://www.intranetkey.com/wsCuentaNacional/Service1.asmx</value>
      </setting>
      <setting name="SIANWEB_ConsultaVentaMensualBennetts_Reportes"
        serializeAs="String">
        <value>http://187.189.153.107:7596/ConsultaVentaMensualBennet/ConsultaVentaMensual.asmx</value>
      </setting>
      <setting name="SIANWEB_WsMacola_wsMacola" serializeAs="String">
        <value>http://207.248.253.104/wsMacola/wsMacola.asmx</value>
      </setting>
      <setting name="SIANWEB_wsClienteTerritorio_Service1" serializeAs="String">
        <value>http://207.248.253.97/wsClienteTerr/Service1.asmx</value>
      </setting>
    </SIANWEB.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>